.container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza o conteúdo horizontalmente */
    text-align: center; /* Centraliza o texto horizontalmente */
  }
  
  .avatar-chat-container {
    margin-bottom: 20px; /* Espaçamento entre o avatar/Typewriter e a imagem */
  }
  
  .planet-image {
    width: 100%; /* Ajusta a largura da imagem para ocupar todo o contêiner */
    max-width: 640px; /* Define um limite máximo de largura para a imagem */
    height: auto; /* Mantém a proporção da imagem */
  }
  
  .typewriter {
    max-width: 100%; /* Define um limite máximo de largura para o Typewriter */
    margin-left: 10px;
    margin-right: 10px;
  }