@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&family=Titillium+Web&display=swap');
h1,h2,h3 {
	text-align: center;
}
body {
	margin: 100px;
}
body, button {
	font-family: Titillium Web;
}
.borda {
	justify-content: center !important;
	align-items: center !important;
	--aug-border-bg: #5458a7 !important;
	--aug-tr: 15px !important; 
	padding: 22px;
	--c1: black !important;
	--aug-inlay-all: 0.5rem !important;
	--aug-inlay-bg: #001237b8 !important;
}
.button {
	--aug-border-bg: #9350ad !important;
	--aug-border-all: 2px !important;
	background-color: #f70ac8;
	padding: 10px;
	margin: 10px;
	margin-top: 22px;
	color: white;
}
.button:hover {
	--aug-border-bg: #f70ac8 !important;
	--aug-border-all: 1px !important;
	background-color: #9350ad;
	transition-delay: 10s;
}
.planeta{
	display: flex;
	align-items: center;
	justify-content: center;
}
.image {
	--aug-border-bg: #9350ad !important;
	--aug-inlay-all: 0.5rem !important;
}
:root {
	background-image: url("./img/Default_galaxy_0_novo.jpg");
	color: white;
}
.avatar {
text-align:center;
}
.ia, .ia_confusa, .ia_confusa2 {
	width: 70px;
	height: auto;
}
.ia_confusa {
	content: url("./img/ia_confusa.gif");
}
.ia_confusa2 {
	content: url("./img/ia_confusa2.gif");
}
.ia {
	content: url("./img/ia_rotation.gif");
}
.chat {
	align-items: center;
	display: flex;
}

/*CSS do componente Ver_pela_janela_o_novo_exoplaneta_encontrado */

.image-container {
	--aug-border-bg: #9350ad !important;
	max-width: 100%;
	text-align: center; /* Centraliza a imagem na tela */
	

  }
  
  .planet-image {
	width: 100%; /* Ajusta a largura da imagem para ocupar todo o contêiner */
	height: auto; /* Mantém a proporção da imagem */
	max-width: 400px; /* Define um limite máximo de largura para a imagem */
  }
  /*______________________________*/

  /* CSS do Insalluvion: */

  .container {
	display: flex;
	flex-direction: column;
	align-items: center; /* Centraliza o conteúdo horizontalmente */
	text-align: center; /* Centraliza o texto horizontalmente */
	--aug-border-bg: #5458a7 !important;
	--aug-tr: 15px !important;
	padding: 22px;
	--c1: black !important;
	--aug-inlay-all: 0.5rem !important;
	--aug-inlay-bg: #001237b8 !important;
}

.avatar-chat-container {
	margin-bottom: 20px; /* Espaçamento entre o avatar/Typewriter e os botões */
}

.button-container {
	display: flex;
	flex-direction: column;
	align-items: center; /* Centraliza os botões horizontalmente */
}

/*______________________*/

